.primary-button {
  border-radius: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  padding: 0.75rem 3rem;
  background-color: $primary-color;
  color: $light-color;
  border: 1px solid $primary-color;
  text-decoration: none;
  font-size: $h5;
  &:hover {
    background-color: $primary-color-dark;
  }
}

.secondary-button {
  border-radius: 20px;
	
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  padding: 0.75rem 3rem;
  background-color: $primary-color;
  color: $light-color;
  border: 1px solid $primary-color;
  text-decoration: none;
  border: 1px solid #000;
  color: $text-color;
  font-size: $h5;
  text-decoration: none;
}
 .button-img{
  width:1.5rem;
  height:1.5rem;
 }