.tableContainer{
    margin-top:5px;
    width: 100%;
    color: #f7f7f7;
    background:#202123;
  margin: 8px;
    border-radius: .6em;
    position: relative;
   
}
.detailContainer{
  background:#ddd;
   width: 100%;
   justify-content: center;
   align-items: center;
   height: 12vh;
   padding:  1px 50px; 
 }
