.table{
   background:#ddd;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin:  0 50px; 
  }
  
  
  .tbody{
    background:rgb(255, 255, 255);
    width: 100%;
  position: relative;
  display:inline-flex;
  }
  th, td {
    text-align: left;
    padding: 2rem;
    
    margin:0 2rem 0 2rem;
    display: inline-flex;
  }
  

  .thead {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgb(23, 39, 21);
  }


